.section-footer{
    position: relative;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #343434;
    position:absolute;
    bottom: 0;
    width: 100%;
    color: #DCE1DA;
    padding: 1%
}

.botton-logo{
    right: 0;
}