

.section-navbar{
    height: 96px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar-nav{
    background-color: #E0752F;
    opacity: .8;
}
.navbar-light .navbar-nav .nav-link{
    color: white;
    font-size: 16px;
    margin-right: 30px;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: white;
    
}

.navbar-menu{
    color: white;
    font-weight: bold;
    text-align: right;
    margin-right: 1%;
}

.navbar-collapse{
    margin-top: 5%;
}
