
.section-products{
    position: relative;

    #carouselProduct{
        height: 304px;
        width: 471px;
        position: absolute;
        bottom: 0px;
        right: 0px;

        @media only screen and (max-width: 600px) {
            height: 304px;
            width: 100%;
            position: unset;
            bottom: unset;
            right: unset;
        }

        .carousel-control-next-icon {
            background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:%23343434;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}%3C/style%3E%3C/defs%3E%3Cg transform='translate(-1 -1)'%3E%3Cpath class='a' d='M22,12A10,10,0,1,1,12,2,10,10,0,0,1,22,12Z'/%3E%3Cpath class='a' d='M12,16l4-4L12,8'/%3E%3Cpath class='a' d='M8,12h8'/%3E%3C/g%3E%3C/svg%3E");
        }
        .carousel-control-prev-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:%23343434;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}%3C/style%3E%3C/defs%3E%3Cg transform='translate(-1 -1)'%3E%3Cpath class='a' d='M22,12A10,10,0,1,1,12,2,10,10,0,0,1,22,12Z'/%3E%3Cpath class='a' d='M12,8,8,12l4,4'/%3E%3Cpath class='a' d='M16,12H8'/%3E%3C/g%3E%3C/svg%3E");
        }

    
        .carousel-inner {
            height: 100%;
        }
        .carousel-item {
            height: 100%;
            min-height: 100%;
            background: no-repeat center center scroll;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover; 
            background-color: #E0752F;
        
            .carousel-caption {
                bottom: unset;
                top: 40%;
    
                @media only screen and (max-width: 600px) {
                    top: 10%;
                }
            
            }
        }
    }
    
    img {
        max-height: 70vh;
        @media only screen and (max-width: 600px) {
            margin-top: 50px;
            width: 100%;
        }
    }

  }