@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap";


@import "fuentes";

@import "navbar";
@import "landing";
@import "about";
@import "products";
@import "services";
@import "contact";
@import "footer";

body {
    background-color: #fff;
}

.navbar {
    background-color: transparent;
    border-bottom: 1px solid #E0752F;

    &.scrolled {
        background-color: #E0752F;
    }
}

.alert-success{
    margin-top: 10px;
}

.section-general {
    height: 100vh;
    min-height: 500px;
    position: relative;

    @media screen and (min-device-width: 601px) and (max-device-width: 1107px) { 
        height: 70vh;
        min-height: 700px;
    }

    &.products, &.contact { 
        background: linear-gradient(90deg, #F2F4F1 70%, #DCE1DA 30%); 

        @media only screen and (max-width: 600px){
        background: unset;
        }
    }

    &.products {
        padding-top: 10%;
        @media only screen and (max-width: 280px) {
            padding-top: 50%;
        }
    }

    &.about {
        padding-top: 11%;
        @media screen and (min-device-width: 601px) and (max-device-width: 1107px) { 
            padding-top: 20%;
        }
    }

    &.services {
        background-image: url('../images/section4-image.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right center;
        padding-top: 13%;

        @media only screen and (max-width: 600px) {
            background-size: cover;
        }
    }

    &.contact {
        padding-top: 10%;
    }
}