.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section-services{
  background-image: url('./images/section4-image.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right center;
}

.section-products{
  background-image: url('./images/section3-image.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #f2f4f1;
  background-position: center;
}

.section-products-description{
  background-color: #E0752F;
}

.section-contact{
  background-color: #f2f4f1;
}

.section-image-container{
  background-image: url('./images/contact-image.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}